[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/protobuf"]
	path = ThirdParty/protobuf
	url = https://github.com/google/protobuf.git
