[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/protobuf"]
	path = ThirdParty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "ThirdParty/Vulkan-Hpp"]
	path = ThirdParty/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/Vulkan-LoaderAndValidationLayers"]
	path = ThirdParty/Vulkan-LoaderAndValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers.git
