[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/protobuf"]
	path = ThirdParty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "GameEngine/GameEngine.Common/GameEngineCommon"]
	path = GameEngine/GameEngine.Common/GameEngineCommon
	url = https://github.com/itsbriany/GameEngineCommon.git
[submodule "GameEngine/Common/GameEngineCommon"]
	path = GameEngine/Common/GameEngineCommon
	url = git@github.com:itsbriany/GameEngineCommon.git
