# Vim
./**/.*.swp
./**/.*.swo

# Visual Studio
./**/*.vcxproj*
./**/*.sln

./**/CMakeCache.txt
./**/CMakeFiles
./**/CMakeScripts
./**/Makefile
./**/cmake_install.cmake
./**/install_manifest.txt
./**/CTestTestfile.cmake
